#formulario {
    padding:0.75em;
    margin-left:17em;
    margin-right:17em;
    border-radius:0.5em;
    margin-bottom:4em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#loginImg {
    width:20em;
    margin-top:1em;
}

h3 {
    margin-top:2em;
    margin-bottom:1.25em;
}

.form_info {
    position: relative;
    margin-bottom: 20px;
}

.form_info input[type="email"], .form_info input[type="password"] {
    padding: 10px 20px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form_info input[type="email"]:focus::placeholder, .form_info input[type="password"]:focus::placeholder {
    font-size: 12px;
    transform: translateY(-15px);
    transition: all 0.2s ease-in-out;
}

input[type=submit] {
    background-color: rgb(216, 170, 19);
    border-radius:0.3em;
    color:white;
    border:inherit;
    margin-bottom:1.5em;
}