body{
    background-color: #f0f0f0;
}
.container{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 100%;
    background-color: #f0f0f0;
    font-size: 0.8rem;
    font-weight: 500;
    color: #f06000;
    padding-left: 3em;
    padding-right: 3em;
    margin: auto;
}
#formulario {
    padding:0.75em;
    margin-left:17em;
    margin-right:17em;
    border-radius:0.5em;
    margin-bottom:4em;
    font-family: Poppins, sans-serif;
}


#loginImg {
    width:20em;
    margin-top:1em;
    margin: auto;
    mix-blend-mode: multiply;
}

h3 {
    text-align: center;
    margin-top:2em;
    margin-bottom:1.25em;
}

.form_info {
    position: relative;
    margin-bottom: 20px;
}

.form_info input[type="email"], .form_info input[type="password"] {
    padding: 10px 20px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
}

.form_info input[type="email"]:focus::placeholder, .form_info input[type="password"]:focus::placeholder {
    font-size: 12px;
    transform: translateY(-15px);
    transition: all 0.2s ease-in-out;
}
/** ESTILO DEL CHECKBOX */
.checkbox-wrapper-37 input[type="checkbox"] {
    display: none;
}

.checkbox-wrapper-37 .terms-label {
    cursor: pointer;
    margin-bottom: 2em;
}

.checkbox-wrapper-37 .terms-label .label-text {
    margin-left: 10px;
}

.checkbox-wrapper-37 .checkbox-svg {
    width: 30px;
    height: 30px;
    border: 1px solid #ff7a00;
}

.checkbox-wrapper-37 .checkbox-box {
    fill: #fff;
    stroke: #ff7a00;
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    transition: stroke-dashoffset 0.6s ease-in;
}

.checkbox-wrapper-37 .checkbox-tick {
    stroke: #ff7a00;
    stroke-dasharray: 172;
    stroke-dashoffset: 172;
    transition: stroke-dashoffset 0.6s ease-in;
}

.checkbox-wrapper-37 input[type="checkbox"]:checked+.terms-label .checkbox-box,
.checkbox-wrapper-37 input[type="checkbox"]:checked+.terms-label .checkbox-tick {
    stroke-dashoffset: 0;
}
/** ESTILO DEL BOTON DE INGRESAR */
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #F0B800;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #f06000;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #f06000;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #f0b800;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}